.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site__content {
  flex: 1;
}

.link {
  text-decoration: none;
  color: inherit;
  border-radius: 15px;
  padding: 5px;
  color: rgb(18, 60, 105);
}

.link:hover {
  text-decoration: none;
  color:rgb(255, 255, 255);
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #799DE4;
  grid-column: 1 / 3;
  padding: 10px 40px;
  font-size: 18px;
}

.card {
  display: inline-block;
  justify-content: center;
  margin-left: 24px;
  max-height: 194px;
  min-height: 194px;
  max-width: 394px;
  min-width: 394px;
  box-shadow: 0px 0px 14px rgba(94, 72, 123, 0.4);
  border-radius: 20px;
  font-size: 16px;
}

.header {
  background-color: #799DE4;
}

.nav__item {
  list-style-type: none;
  display: inline;
  margin-left: 8px;
}

/* .nav__item1 {
  list-style-type: none;
  display: inline;
  margin-left: 8px;
} */

.nav__item1 {
  list-style-type: none;
  display: inline;
  margin-left: 8px;
  float: right;
}

.nav__item2 {
  display: inline;
  margin-right: 8px;
  cursor: pointer
}

h3 {
  margin-left: 120px;
}